@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
  font-family: "Manrope", sans-serif;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  border: 1px solid #002570 !important;
  opacity: 100% !important;
  background: #fff !important;
  border-radius: 10px !important;
}

.swiper-pagination-bullet-active {
  background: #007eff !important;
  border: none !important;
}

.swiper {
  padding-bottom: 70px !important;
}

.swiper-slide.swiper-slide-next h4,
.swiper-slide.swiper-slide-next p {
  color: white;
}

.swiper-pagination {
  top: 90% !important;
}

.space_letter {
  letter-spacing: 2px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #007eff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e6f1ff;
}

::-webkit-scrollbar-thumb {
  background: #002570;
}
.bottom_scroll {
  animation: bottom linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.animation_arrow {
  animation: animate 1s infinite alternate-reverse;
  box-shadow: 0px 0px 2px #ffffff;
}

@keyframes animate {
  0% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(-5px);
  }
}
