@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.btnOne {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #007eff;
  border-radius: 30px;
  position: relative;
  color: white;
  background-color: #007eff;
  transition: 0.3s ease all;
  z-index: 1;
}

.btnOne::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #002570;
  z-index: -1;
}
.btnOne:hover::before,
.btnOne:focus::before {
  transition: 0.5s all ease;
  left: 0;
  border-radius: 30px;
  right: 0;
  opacity: 1;
}

.btnOne:active {
  transform: scale(0.9);
}

.btnTwo {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #002570;
  border-radius: 30px;
  position: relative;
  color: white;
  background-color: #002570;
  transition: 0.3s ease all;
  z-index: 1;
}

.btnTwo::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #007eff;
  z-index: -1;
}

.btnTwo:hover::before,
.btnTwo:focus::before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  border-radius: 30px;
  opacity: 1;
}

.btnTwo:active {
  transform: scale(0.9);
}

.banner {
  background-image: url(./assets/image/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.client_happy {
  background-image: url(./assets/image/counter-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  border: 2px solid white;
  border-radius: 30px;
  box-shadow: 0px 0px 4px gray;
}

.card_btn {
  background-image: linear-gradient(to top, #007eff, #0080ff2e, #1a7ada32);
}

.bg_tast {
  background-image: url(./assets/image/crcle-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact_bg {
  background-image: url(./assets/image/appoinment.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_scroll {
  overflow-y: scroll;
}
::-webkit-scrollbar {
  display: none;
}
